In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/gemstone.csv")

In [5]:
df.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [7]:
df.drop(labels=["id"],axis=1,inplace=True)
df.head(1)

   carat      cut color clarity  depth  table     x     y     z  price
0   1.52  Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619

In [11]:
X=df.drop(labels=["price"],axis=1)
Y=df[["price"]]

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
dtypes: float64(6), object(3)
memory usage: 13.3+ MB

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [19]:
cat_fields = X.columns[X.dtypes=="O"]

In [21]:
num_fields = X.columns[X.dtypes!="O"]

In [24]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [22]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [36]:
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories])),
    ('scaler',StandardScaler())
    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,num_fields),
('cat_pipeline',cat_pipeline,cat_fields)
])

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [38]:
X_test

        carat        cut color clarity  depth  table     x     y     z
70432    0.53    Premium     E     VS2   60.8   56.0  5.24  5.21  3.19
64839    0.71  Very Good     H     SI1   62.9   57.0  5.67  5.69  3.56
185316   0.30      Ideal     H      IF   62.1   57.0  4.27  4.29  2.66
84658    1.24    Premium     G     VS2   61.6   61.0  6.88  6.82  4.21
31953    0.36    Premium     E     VS1   60.4   58.0  4.60  4.63  2.80
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
192694   1.26  Very Good     H     VS2   63.1   56.0  6.83  6.87  4.33
133935   0.33      Ideal     F    VVS1   62.1   55.0  4.45  4.48  2.77
44763    0.70    Premium     J     VS2   58.2   60.0  5.83  5.80  3.38
29856    0.41      Ideal     G     SI1   61.6   57.0  4.77  4.75  2.93
62426    2.00    Premium     J     VS2   61.0   60.0  8.09  7.97  4.92

[58072 rows x 9 columns]

In [41]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train))
X_test=pd.DataFrame(preprocessor.transform(X_test))

In [42]:
X_train

,0,1,2,3,4,5,6,7,8
0,-0.975439,-0.849607,-0.121531,-1.042757,-1.080970,-1.123150,0.874076,1.528722,1.352731
1,0.235195,1.833637,-0.121531,0.318447,0.279859,0.485354,-2.144558,-0.935071,-0.646786
2,0.494617,0.815855,0.399800,0.570855,0.606458,0.673737,-0.132136,0.296826,0.686225
3,-1.018676,0.260701,0.921131,-1.214034,-1.244270,-1.195605,-0.132136,0.296826,0.019720
4,-0.953821,-0.664555,-0.642862,-1.069801,-1.044681,-1.094168,0.874076,2.144670,1.352731
...,...,...,...,...,...,...,...,...,...
135496,-1.040295,-0.016876,-0.642862,-1.268122,-1.244270,-1.239078,0.874076,-0.935071,-0.646786
135497,0.991842,0.168176,-0.642862,1.048629,1.114501,1.079486,0.874076,0.296826,-1.313292
135498,0.451380,1.556060,-0.642862,0.516768,0.588314,0.702719,-2.144558,0.296826,-0.646786
135499,0.667565,-1.774863,1.442462,0.868337,0.951202,0.688228,0.874076,0.296826,0.686225
135500,0.256814,0.815855,-0.121531,0.381549,0.415942,0.470863,0.874076,0.296826,-0.646786

In [43]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [44]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [45]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [46]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1013.9047094344003
MAE: 674.0255115796848
R2 score 93.68908248567512
===================================


Lasso
Model Training Performance
RMSE: 1013.8784226767013
MAE: 675.0716923362162
R2 score 93.68940971841704
===================================


Ridge
Model Training Performance
RMSE: 1013.9059272771568
MAE: 674.0555800798401
R2 score 93.68906732505947
===================================


Elasticnet
Model Training Performance
RMSE: 1533.4162456064046
MAE: 1060.7368759154729
R2 score 85.56494831165182
===================================